@use "../utils/fonts" as f; 
@use "../utils/colors" as c;

html {
    font-size: 16px;
}

body {
    font-family: f.$font-family;
    color: c.$text-color;
}

a {
    &:hover {
        color: c.$primary-color;
    }
}

div, header, nav, main, footer, section {
    box-sizing: border-box;
}

@each $name, $value in f.$font-sizes {
    h#{$name} {
        font-size: $value;
    }
}