$h1-font-size: 48px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$h4-font-size: 22px;
$h5-font-size: 18px;
$h6-font-size: 16px;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
) !default;

$font-weight-lighter:         200 !default;
$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          700 !default;

$line-height-base:            1.4 !default;
$line-height-sm:              1.3 !default;
$line-height-lg:              1.6 !default;


// @font-face {
//     font-family: 'Noto Sans TC';
//     src: url('../vendors/fonts/NotoSansTC-Regular.otf');
//     src: url('../vendors/fonts/NotoSansTC-Regular.otf') format('opentype');
//     font-style: normal;
//     font-weight: normal;
//     font-display: swap
// }

$font-family: 'Noto Sans Tc', Times, "Times New Roman", Georgia, serif;