// use image to replace text and it'll help improve SEO
@mixin img-replace-text($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}
// set background-image full element
@mixin img-fill($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@mixin clear-float {
    overflow: hidden;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
// animation zoom in/out
//
//     >> $duration 
@mixin img-zoom($duration, $scale) {
    transition: transform $duration;
    &:hover {
        transform: scale($scale);
    }
}

@mixin hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}