@mixin img-replace-text($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}

@mixin img-fill($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin clear-float {
    overflow: hidden;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}