@use "../utils/variables" as v;
@use "sass:math";
@use "../utils/breakpoinst" as b;

.l-container {
    width: 70%;
    margin: 0 auto;
    @include b.media-breakpoint-down(xxl) {
        width: 85%;
    }
    @include b.media-breakpoint-down(lg) {
        width: 95%;
    }
}
.l-container-left {
    margin-left: 14%;
}
.l-container-right {
    margin-right: 14%;
}
//150px is the value which add header and footer height
.l-content {
    height: calc(100% - 150px);
    display: flex;
}
.l-row {
    width: 100%;
    display: flex;
    margin: 24 0;
    flex-direction: row;
    flex-wrap: wrap;
}
.l-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    .l-list-item {
        margin-right: 10px;
        margin-bottom: 24px;
    }
}

@each $unit in v.$grid-divide-units {
    @for $i from 1 through $unit { 
        .l-#{$i}-#{$unit} {
            width: 100% * math.div($i, $unit);
        } 
    };
}

@each $size, $value in v.$grid-breakpoints {
    @media screen and (max-width: $value) {
        @each $unit in v.$grid-divide-units {
            @for $i from 1 through $unit { 
                .l-#{$size}-#{$i}-#{$unit} {
                    width: 100% * math.div($i, $unit);
                } 
            };
        }
    }
}
