@use "../utils/variables" as v;
@use "sass:math";

.l-container {
    width: 72%;
    margin: 0 auto;
}

.l-container--left {
    margin-left: 14%;
}

.l-container--right {
    margin-right: 14%;
}

.l-row {
    width: 100%;
    display: flex;
    margin: 24 0;
}

@each $unit in v.$grid-divide-units {
    @for $i from 1 through $unit { 
        .l-#{$i}-#{$unit} {
            width: 100% * math.div($i, $unit);
        } 
    };
}
