@use "../utils/colors" as c;
@use "../utils/fonts" as f;

.menuList {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    color: c.$text-color;
    font-size: f.$font-size-lg;
    &__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c4c4c4;
        white-space: nowrap;
        line-height: 3;
        &:hover {
            color: c.$primary-color;
        }
        &::before{
            content: "";
            display: block;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background-color: c.$sub-color;
            margin-right: 16px;
        }
        &:last-child{
            border-bottom: unset;
        }
    }
}