// @import "partial/reset";
// @import "partial/variable";

@use "partial/reset";
@use "partial/fonts";
@use "partial/colors";
@use "partial/layout";

.header {
    height: 100px;
    background-color: black;
    font-size: fonts.$font-l;
    .logo {
        color: white;
        &:hover{
            cursor: pointer;
            color: blue;
        }
    }
}

.body {
    .content {
        width: layout.$container-width;
        font-size: fonts.$font-m;
    }
}


.footer {
    .continaer {
        width: layout.$container-width;
    }
}